<div class="container">
  <div class="row">
    <div class="col-md-12">

      <a href><div class="col-sm-6 col-md-3" ng-repeat="m in members">
        <div class="thumbnail">

          <img ng-src="https://storage.snog.fm/photos/lg/bmnklyese3h8n0zy3awz.png" alt="">
          <div class="caption">
            <h3 class="name">Nickname</h3>
            <p><i class="fa fa-mars"></i> <i class="fa fa-female"></i></p>
            <p><i class="fa fa-birthday-cake"></i> 17</p>
            <p><i class="fa fa-heart orange"></i> Single</p>
          </div>
        </div>
      </div></a>
    </div>
  </div>
</div>